# Misc
.DS_Store

# Dependencies
node_modules/

*.zip
*.tgz
license.config.json
license-header.txt

# Build Outputs
dist/

# VS Code IDE

# Local env files
.env
!.env.example

# this is for jetbrain IDEs
.idea/
/puter

# Local Netlify folder
.netlify
src/emulator/release/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
